{% assign inactive_class = "nav-item nav-link" %}
{% assign active_class =  inactive_class | append: " active" %}

<link rel="stylesheet" href="{{ '/assets/css/navigation.css' | relative_url }}">

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">Miles Olson</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a {% if page.title == "Home" %} class="{{active_class}}" {% else %} class="{{inactive_class}}" {% endif %} href="{{ '/' | relative_url }}">Home</a>

        <a {% if page.title == "Projects" %} class="{{active_class}}" {% else %} class="{{inactive_class}}" {% endif %} href="{{ '/projects.html' | relative_url }}">Projects</a>
        <a {% if page.title == "About" %} class="{{active_class}}" {% else %} class="{{inactive_class}}" {% endif %} href="{{ '/about.html' | relative_url }}">About</a>
        <!-- TODO: Add github, linkedin glyph links -->
      </div>
    </div>
  </div>
</nav>