@import 'bootstrap/bootstrap';

$font-stack: 'Open Sans Light', sans-serif;

h1, h2, h3, h4, h5, h6 {
    // font-family: 'Merriweather', serif;
    font-family: $font-stack;
    margin-top: 24px;
    margin-bottom: 24px;
}

body {
    font: 100% $font-stack;
    line-height: 1.6;
    font-weight: 300;
}

p {
    @extend .text-justify;
    font-size: 1.2rem;
}