---
---

@import "main";

.hero-container {
    margin: 10em 0 9em 0;
  }
  
  .hero-content {
    width: 60%;
    margin: 0 auto;
    display: table;
    h1 {
      font-size: 48px;
    }
    p {
      margin: 2em 0 4em 0;
    }
  }

  .section-title {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1em;
    &:after {
      content: '';
      position: absolute;
      top: 1.35em;
      width: 3em;
      height: 3px;
      background-color: #ECEFF1;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  