---
---

@import "main";

.hero-container {
    margin: 10em 0 9em 0;
  }
  
  .hero-content {
    width: 60%;
    margin: 0 auto;
    display: table;
    h1 {
      font-size: 48px;
    }
    p {
      margin: 2em 0 4em 0;
    }
  }