<!doctype html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/assets/css/splash.css' | relative_url }}">
  </head>
  <body>
    {% include navigation.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero-container">
            <div class="hero-content">
              <h1 class="text-center">My name is Miles Olson.</h1>
                <p class="text-center">
                  I'm a Computer Science and Applied Math student at Rice University.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="container">
        <h2 class="section-title text-center">
            Projects
        </h2>
        
        {% include project_list.html %}
    </div>

  </body>
</html>
